
*{
    background-color: steelblue;
}

p{
    color: black;
    width: auto;
}

li{
    color: red;
}

.blog{
    
    background-image: url("image1.jpg");
}

*{
    
    /* background-repeat: no-repeat; */
    background-size:cover;
}